.cache
.unsaved
.user
private

*.DS_Store
*.bak
*.sublime-project
*.sublime-workspace

[Mm]etadata/Workspace.xml
[Aa]ssets/music
[Aa]ssets/sfx
[Aa]ssets/ost
[Bb]uild
[Aa]ssets/oldsfx/octobe22/music
[Aa]ssets/oldsfx/octobe22/sfx